import React from "react";
import hostMap from "../hostMap";
import WujieReact from "wujie-react";
import { useNavigate } from "react-router-dom";

export default function React16() {
  const navigation = useNavigate();
  <% if (subFramework.includes('Vite')) { -%>
    const vite = hostMap("//localhost:8083/");
  <% } -%>
  <% if (subFramework.includes('Vue2')) { -%>
    const vue2Url = hostMap("//localhost:8081/");
  <% } -%>
  <% if (subFramework.includes('Vue3')) { -%>
    const vue3Url = hostMap("//localhost:8082/");
  <% } -%>
  <% if (subFramework.includes('React16')) { -%>
    const react16Url = hostMap("//localhost:7600/");
  <% } -%>
  <% if (subFramework.includes('React17')) { -%>
    const react17Url = hostMap("//localhost:7100/");
  <% } -%>
  <% if (subFramework.includes('React17')) { -%>
    const angular12Url = hostMap("//localhost:7400/");
  <% } -%>
  // 修正iframe的url，防止github pages csp报错
  const props = {
    jump: (name) => {
      navigation(`/${name}`);
    },
  };
  return (
    <div style={{ height: "100%", width: "100%" }}>
      <% if (subFramework.includes('React16')) { -%>
      <div className="all-item">
        <WujieReact height="100%" width="100%" name="react16" url={react16Url} sync={true} props={props}></WujieReact>
      </div>
      <% } -%>
      <% if (subFramework.includes('React17')) { -%>
      <div className="all-item">
        <WujieReact
          height="100%"
          width="100%"
          name="react17"
          url={react17Url}
          sync={true}
          props={props}
          alive={true}
        ></WujieReact>
      </div>
      <% } -%>
      <% if (subFramework.includes('Vue2')) { -%>
      <div className="all-item">
        <WujieReact height="100%" width="100%" name="vue2" url={vue2Url} sync={true} props={props}></WujieReact>
      </div>
      <% } -%>
      <% if (subFramework.includes('Vue3')) { -%>
      <div className="all-item">
        <WujieReact
          height="100%"
          width="100%"
          name="vue3"
          url={vue3Url}
          sync={true}
          props={props}
          alive={true}
        ></WujieReact>
      </div>
      <% } -%>
      <% if (subFramework.includes('Vite')) { -%>
      <div className="all-item">
        <WujieReact height="100%" width="100%" name="vite" url={vite} sync={true} props={props}></WujieReact>
      </div>
      <% } -%>
      <% if (subFramework.includes('Angular12')) { -%>
      <div className="all-item">
        <WujieReact
          height="100%"
          width="100%"
          name="angular12"
          url={angular12Url}
          sync={true}
          props={props}
        ></WujieReact>
      </div>
      <% } -%>
    </div>
  );
}
