<template>
  <div style="height: 100%; width: 100%">
    <% if (subFramework.includes('React16')) { -%>
    <WujieVue class="item" name="react16" :url="react16Url" :sync="true"></WujieVue>
    <% } -%> <% if (subFramework.includes('React17')) { -%>
    <WujieVue class="item" name="react17" :url="react17Url" :sync="true"></WujieVue>
    <% } -%> <% if (subFramework.includes('Vite')) { -%>
    <WujieVue class="item" name="vite" :url="vite" :sync="true"></WujieVue>
    <% } -%> <% if (subFramework.includes('Vue2')) { -%>
    <WujieVue class="item" name="vue2" :url="vue2Url" :sync="true"></WujieVue>
    <% } -%> <% if (subFramework.includes('Vue3')) { -%>
    <WujieVue class="item" name="vue3" :url="vue3Url" :sync="true"></WujieVue>
    <% } -%> <% if (subFramework.includes('Angular12')) { -%>
    <WujieVue class="item" name="angular12" :url="angular12Url" :sync="true"></WujieVue>
    <% } -%>
  </div>
</template>

<script>
  import hostMap from "../../wujie-config/hostMap";

  export default {
    data() {
      return {
        <% if (subFramework.includes('React16')) { -%>
          react16Url: hostMap("//localhost:7600/"),
        <% } -%>
        <% if (subFramework.includes('React17')) { -%>
          react17Url: hostMap("//localhost:7100/"),
        <% } -%>
        <% if (subFramework.includes('Vite')) { -%>
          vite: hostMap("//localhost:8083/"),
        <% } -%>
        <% if (subFramework.includes('Vue2')) { -%>
          vue2Url: hostMap("//localhost:6100/"),
        <% } -%>
        <% if (subFramework.includes('Vue3')) { -%>
          vue3Url: hostMap("//localhost:8082/"),
        <% } -%>
        <% if (subFramework.includes('Angular12')) { -%>
          angular12Url: hostMap("//localhost:7400/"),
        <% } -%>
      }
    },
    methods: {
      jump(name) {
        this.$router.push({ name });
      },
    },
  }
</script>

<style scoped>
  .item {
    display: inline-block;
    border: 1px dashed #ccc;
    border-radius: 8px;
    width: 45%;
    height: 45%;
    margin: 20px;
    overflow: scroll;
  }
</style>
